<div class="container">
    <h1>Welcome to Well...I Liked It!</h1>
</div>

<% if logged_in? %>
    <h3>You are Logged In, <%= current_user.username %></h3>
    <%= button_to "Sign Out", '/logout', method: :delete %>
    <% if current_user %>
        <div class="well well-sm">
            Admin: <strong><%= current_user.admin? %></strong><br>
            <%= link_to 'Toggle admin rights', users_path(current_user), method: :patch, class: 'btn btn-info' %>
        </div>
    <% end %>
<% end %>

<% if !logged_in? %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
<% end %>
