<h1>Welcome to Well...I Liked It!</h1>

<% if logged_in? %>
    <h2>You are Logged In, <%= current_user.username %></h2>

<% end %>

<% if logged_in? %>
    <h3>You are Logged In, <%= current_user.username %></h3>
    <%= button_to "Sign Out", '/logout', method: :delete %>

<% end %>

<% if !logged_in? %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
<% end %>
